---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="highlighted">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"></time>
    <h1>
      <small class="u-pull-right">
        [{{ page.date | date: "%Y-%m-%d" }}]
      </small>
      <a itemprop="name headline" href="{{ site.url }}{{ page.url }}">
        {{ page.title | escape }}
      </a>
    </h1>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <a href="{{ site.url }}{{ page.url }}" hidden></a>
</article>
