---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="highlighted">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"></time>
    <h1>
      <small class="u-pull-right">
        [{{ page.date | date: "%Y-%m-%d" }}]
      </small>
      <span itemprop="name headline">
        {{ page.title | escape }}
      </span>
    </h1>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
